#home {
  background-image: var(--blob-url-4x);
  background-image: image-set(
    var(--blob-url-1x) 1x,
    var(--blob-url-2x) 2x,
    var(--blob-url-3x) 3x,
    var(--blob-url-4x) 4x
  );
  background-image: -webkit-image-set(
    var(--blob-url-1x) 1x,
    var(--blob-url-2x) 2x,
    var(--blob-url-3x) 3x,
    var(--blob-url-4x) 4x
  );
}
